body{
    margin: 10% 40% ;
    background-color: antiquewhite;
}

.grid {
    width: 560px;
    height: 300px;
    border: solid black 1px;
    position: absolute;
} 

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;


}
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(23, 23, 77);


}