body{
    margin: 10% 40% ;
    background-color: antiquewhite;
}

.grid {
    width: 560px;
    height: 300px;
    border: solid black 1px;
    position: absolute;
} 

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgba(0, 0, 255, 0.849);
    border-radius: 30px;


}
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(23, 23, 77);
    border-radius: 30px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}