h2{
    margin: 0;
}

body{
    margin: 0% 10% ;
    background-color: antiquewhite;
}

.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;

}

.square {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.mole{
    background-color: blue;
}